@import '../node_modules/bootstrap/dist/css/bootstrap.css';
$blue: #003366;

body {
	background: #CCCC99;
	text-align: center;
	font-family: sans-serif;
	color: $blue;
	padding: 3em 2em;

	input {
		height: 1.5em;
		width: 10em;
		font-size: 3em;
		margin-right: 1em;
		border: solid .05em $blue;

	}

	button {
		background: $blue;
		width: 8em;
		padding: .3em;
		font-size: 2em;
		color: white;
		border-radius: 10em;
	}
}

section {
	background: rgba(50,50,50,.3);
	height: 50em;
	margin-top: 3em;
	padding-top: 3em;
	font-size: 2em;
}


